@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  cursor: pointer;
}

/* Works for Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;              /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f3f4f6;     /* Tailwind gray-100 */
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;     /* Tailwind gray-300 */
  border-radius: 9999px;   /* fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;     /* Tailwind gray-400 */
}

/* Works for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a6a8ac rgb(255, 255, 255); /* thumb track */
}

/* scrollbar_hide.css */
.scrollbar_hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar_hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

